@import "tailwindcss";

:root {
  --background-primary: #000000;
  --background-secondary: #111111;
  --foreground-primary: #ffffff;
  --foreground-secondary: #f1f1f1;
  --border-primary: #222222;
  --foreground-accent: rgb(240, 220, 190);
  --background-accent: blue;
  --border-accent: rgba(80, 80, 253, 0.131);
}

@theme inline {
  --color-border-primary: var(--border-primary);
  --color-border-accent: var(--border-accent);
  --color-bg-primary: var(--background-primary);
  --color-bg-secondary: var(--background-secondary);
  --color-bg-accent: var(--background-accent);
  --color-fg-accent: var(--foreground-accent);
  --color-fg-primary: var(--foreground-primary);
  --color-fg-secondary: var(--foreground-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #000000;
    --background-secondary: #111111;
    --foreground-primary: #ffffff;
    --foreground-secondary: #f1f1f1;
    --border-primary: #222222;
    --foreground-accent: rgb(240, 220, 190);
    --background-accent: blue;
    --border-accent: rgba(80, 80, 253, 0.131);
  }
}

body {
  background: var(--color-bg-primary);
  color: var(--color-fg-primary);
  font-family: Arial, Helvetica, sans-serif;
}
